<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Recent calculations</th>
        </tr>
    </thead>
    @foreach (var item in @Model)
    {
        <tr>
            <td>@item</td>
        </tr>
    }
</table>
