<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="WCFproject.HelloService">
                <endpoint address="" binding="basicHttpBinding" contract="WCFproject.IHelloService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCFproject/HelloService/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="WCFproject.CompanyService">
                <endpoint address="" binding="basicHttpBinding" contract="WCFproject.ICompanyService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCFproject/CompanyService/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="WCFproject.EmployeeService">
                <endpoint address="" binding="basicHttpBinding" contract="WCFproject.IEmployeeService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCFproject/EmployeeService/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="WCFproject.CalculatorServiceWCF">
                <endpoint address="" binding="basicHttpBinding" contract="WCFproject.ICalculatorServiceWCF">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCFproject/CalculatorServiceWCF/" />
                    </baseAddresses>
                </host>
            </service>
            <!--<service name="WCFproject.SampleService">
              <endpoint address="" binding="basicHttpBinding" contract="WCFproject.ISampleService">
                <identity>
                  <dns value="localhost" />
                </identity>
              </endpoint>
              <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
              <host>
                <baseAddresses>
                  <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCFproject/SampleService/" />
                </baseAddresses>
              </host>
            </service>-->
        </services>
    </system.serviceModel>
</configuration>
