@using (Ajax.BeginForm(new AjaxOptions() { HttpMethod = "GET", LoadingElementId = "spinnerLoader", UpdateTargetId = "employee-list", Url =  "https://localhost:44306/api/Employee", OnSuccess = "DisplayEmployeeList" }))
{
    <button class="btn btn-success">Get All Employees</button>
}

<button id="clear-employee-list" class="btn btn-default">Clear</button>
<div id="employee-list"></div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#clear-employee-list').on('click', function () {
                $('#employee-list').html('');
            });
        });

        function DisplayEmployeeList(data) {
            $.each(data, function (index, val) {
                $('#employee-list').append('<h5>' + val.id + ' ' + val.firstName + ' ' + val.lastName + ' ' + val.gender + ' ' + val.salary +'</h5>');
            });
        }
    </script>
}