<table class="table table-bordered table-hover">
    <thead class="thead-dark">Recent calculations</thead>
    @foreach (var item in @Model)
    {
        <tr>
            <td>@item</td>
        </tr>
    }
</table>
