@model bool

@if (Model)
{
    <div class="alert alert-success">
        <h5>Employee saved successfully.</h5>
    </div>
}
else
{
    <div class="alert alert-danger">
        <h5>Error occured.</h5>
    </div>
}

