<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  
  <connectionStrings>
    <add name="SampleWebService" connectionString="Data Source=DESKTOP-A32UFAF;Integrated Security=True;Database=SampleWebService;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding></basicHttpBinding> <!-- Binding for HTTP endpoint -->
      <netTcpBinding></netTcpBinding> <!-- Binding for TCP binnary endpoint -->
      <!--<netTcpBinding>
        <binding name="netTCP" receiveTimeout="00:00:10"></binding> --><!-- Changing the session timeout to value of 10 seconds --><!--
      </netTcpBinding> --><!-- Binding for TCP binnary endpoint -->
      <mexHttpBinding></mexHttpBinding> <!-- Binding for Metadata exchange endpoint -->
      <wsHttpBinding>
        <!--<binding>-->
        <!--<binding messageEncoding="Text" maxReceivedMessageSize="7000000">-->
        <binding messageEncoding="Mtom" maxReceivedMessageSize="7000000">
          <readerQuotas maxArrayLength="7000000" />
          <security mode="None"></security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="WCFproject.HelloService"> <!--behaviorConfiguration="mexBehavior">--><!-- Namespace.Class -->
        <!--<endpoint address="HelloService" binding="basicHttpBinding" contract="WCFproject.IHelloService"></endpoint>
        <endpoint address="HelloService" binding="netTcpBinding" contract="WCFproject.IHelloService"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>--><!-- Metadata exchange endpoint -->
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/"/><!-- http endpoint address -->
            <add baseAddress="net.tcp://localhost:8090/"/><!-- tcp binnary endpoint address -->
          </baseAddresses>
        </host>
      </service>

      <!--<service name="WCFproject.CompanyService"> -->
      <service name="WCFproject.CompanyService" behaviorConfiguration="mexBehavior">
        <endpoint address="CompanyService" binding="basicHttpBinding" contract="WCFproject.ICompanyPublicService"></endpoint>
        <endpoint address="CompanyService" binding="netTcpBinding" contract="WCFproject.ICompanyConfidentalService"></endpoint>
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>-->
        <!-- Metadata exchange endpoint -->
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8081/"/>
            <add baseAddress="net.tcp://localhost:8091/"/>
          </baseAddresses>
        </host>
      </service>

      <service name="WCFproject.EmployeeService" behaviorConfiguration="mexBehavior">
        <endpoint address="EmployeeService" binding="basicHttpBinding" contract="WCFproject.IEmployeeService"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8082/"/>
          </baseAddresses>
        </host>
      </service>

      <service name="WCFproject.CalculatorServiceWCF" behaviorConfiguration="mexBehavior">
        <!--<endpoint address="CalculatorServiceWCF" binding="basicHttpBinding" contract="WCFproject.ICalculatorServiceWCF"></endpoint>-->
        <endpoint address="CalculatorServiceWCF" binding="wsHttpBinding" contract="WCFproject.ICalculatorServiceWCF"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8083"/>
          </baseAddresses>
        </host>
      </service>

      <service name="WCFproject.SampleService" behaviorConfiguration="mexBehavior">
        <endpoint address="SampleService" binding="netTcpBinding" contract="WCFproject.ISampleService"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8084/"/>
            <add baseAddress="net.tcp://localhost:8094/"/>
          </baseAddresses>
        </host>
      </service>

      <service name="WCFproject.ReportService" behaviorConfiguration="mexBehavior">
        <endpoint address="ReportService" binding="netTcpBinding" contract="WCFproject.IReportService"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8085/"/>
            <add baseAddress="net.tcp://localhost:8095/"/>
          </baseAddresses>
        </host>
      </service>

      <service name="WCFproject.DownloadService" behaviorConfiguration="mexBehavior">
        <endpoint address="DownloadService" binding="wsHttpBinding" contract="WCFproject.IDownloadService"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8086/"/>
          </baseAddresses>
        </host>
      </service>

      <service name="WCFproject.SimpleService" behaviorConfiguration="mexBehavior">
        <endpoint address="SimpleService" binding="netTcpBinding" contract="WCFproject.ISimpleService"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8087/"/>
            <add baseAddress="net.tcp://localhost:8097/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true"></serviceMetadata> 
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer ignoreExtensionDataObject="true"/> 
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <!--Different way to assiociate known type-->
  <!--<system.runtime.serialization>
    <dataContractSerializer>
      <declaredTypes>
        <add type="WCFproject.Models.EmployeeKnownType, WCFproject, Version=1.0.0.0, Culture=Neutral, PublicKeyToken=null">
          <knownType type="WCFproject.Models.FullTimeEmployee, WCFproject, Version=1.0.0.0, Culture=Neutral, PublicKeyToken=null"></knownType>
          <knownType type="WCFproject.Models.PartTimeEmployee, WCFproject, Version=1.0.0.0, Culture=Neutral, PublicKeyToken=null"></knownType>
        </add>
      </declaredTypes>
    </dataContractSerializer>
  </system.runtime.serialization>-->
</configuration>