<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\Users\Kesiu\source\repos\RESTnSOAP\ClientWindowsForms\App_messages.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <diagnostics performanceCounters="Default">
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
        logMessagesAtTransportLevel="true" />
    </diagnostics>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IHelloService" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IHelloService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ISampleService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IReportService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ISimpleService">
          <reliableSession enabled="true" />
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IHelloService1">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IHelloService2">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IHelloService3">
          <security mode="Message">
            <transport sslProtocols="None" />
          </security>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ICalculatorServiceWCF">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IDownloadService" maxReceivedMessageSize="7000000"
          messageEncoding="Mtom">
          <readerQuotas maxArrayLength="7000000" />
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IHelloService" />
        <binding name="WSHttpBinding_IHelloService1">
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8083/CalculatorServiceWCF"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICalculatorServiceWCF"
        contract="CalculatorService.ICalculatorServiceWCF" name="WSHttpBinding_ICalculatorServiceWCF" />
      <endpoint address="http://desktop-a32ufaf:8084/HelloService.svc/HelloService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHelloService"
        contract="HelloServiceIIS.IHelloService" name="BasicHttpBinding_IHelloServiceIIS" />
      <endpoint address="net.tcp://desktop-a32ufaf/HelloService.svc/HelloService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IHelloService"
        contract="HelloServiceIIS.IHelloService" name="NetTcpBinding_IHelloServiceIIS">
        <identity>
          <servicePrincipalName value="host/DESKTOP-A32UFAF" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8094/SampleService" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_ISampleService" contract="SampleService.ISampleService"
        name="NetTcpBinding_ISampleService">
        <identity>
          <userPrincipalName value="DESKTOP-A32UFAF\Kesiu" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8095/ReportService" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IReportService" contract="ReportService.IReportService"
        name="NetTcpBinding_IReportService">
        <identity>
          <userPrincipalName value="DESKTOP-A32UFAF\Kesiu" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8086/DownloadService" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IDownloadService" contract="DownloadService.IDownloadService"
        name="WSHttpBinding_IDownloadService" />
      <endpoint address="net.tcp://localhost:8097/SimpleService" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_ISimpleService" contract="SimpleService.ISimpleService"
        name="NetTcpBinding_ISimpleService">
        <identity>
          <userPrincipalName value="DESKTOP-A32UFAF\Kesiu" />
        </identity>
      </endpoint>
      <endpoint address="https://desktop-a32ufaf/HelloServiceIIS.svc/HelloService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IHelloService1"
        contract="HelloServiceIIS.IHelloService" name="WSHttpBinding_IHelloService1" />
      <endpoint address="net.tcp://desktop-a32ufaf/HelloServiceIIS.svc/HelloService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IHelloService2"
        contract="HelloServiceIIS.IHelloService" name="NetTcpBinding_IHelloService">
        <identity>
          <servicePrincipalName value="host/DESKTOP-A32UFAF" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8080/HelloService" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IHelloService" contract="HelloService.IHelloService"
        name="WSHttpBinding_IHelloService">
        <identity>
          <userPrincipalName value="DESKTOP-A32UFAF\Kesiu" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8091/HelloService" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IHelloService3" contract="HelloService.IHelloService"
        name="NetTcpBinding_IHelloService1">
        <identity>
          <userPrincipalName value="DESKTOP-A32UFAF\Kesiu" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>