<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IHelloService" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IHelloService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ISampleService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ICalculatorServiceWCF">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/HelloService" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IHelloService" contract="HelloService.IHelloService"
        name="BasicHttpBinding_IHelloService" />
      <endpoint address="net.tcp://localhost:8090/HelloService" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IHelloService" contract="HelloService.IHelloService"
        name="NetTcpBinding_IHelloService">
        <identity>
          <userPrincipalName value="DESKTOP-A32UFAF\Kesiu" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8083/CalculatorServiceWCF"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICalculatorServiceWCF"
        contract="CalculatorService.ICalculatorServiceWCF" name="WSHttpBinding_ICalculatorServiceWCF" />
      <endpoint address="http://desktop-a32ufaf:8084/HelloService.svc/HelloService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHelloService"
        contract="HelloServiceIIS.IHelloService" name="BasicHttpBinding_IHelloServiceIIS" />
      <endpoint address="net.tcp://desktop-a32ufaf/HelloService.svc/HelloService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IHelloService"
        contract="HelloServiceIIS.IHelloService" name="NetTcpBinding_IHelloServiceIIS">
        <identity>
          <servicePrincipalName value="host/DESKTOP-A32UFAF" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8094/SampleService" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_ISampleService" contract="SampleService.ISampleService"
        name="NetTcpBinding_ISampleService">
        <identity>
          <userPrincipalName value="DESKTOP-A32UFAF\Kesiu" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>