<div class="col-md-10 col-md-offset-1">
    <div class="well">
        <input id="btnLoadEmployees" class="btn btn-success"
               type="button" value="Load Employees" />
        <button id="btnLogoff" class="btn btn-primary">Log Off</button>
    </div>
    <div id="divData" class="well d-none">
        <table class="table table-bordered" id="tblData">
            <thead>
                <tr class="table-success">
                    <td>ID</td>
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td>Gender</td>
                    <td>Salary</td>
                </tr>
            </thead>
            <tbody id="tblBody"></tbody>
        </table>
    </div>
    <div class="modal fade" tabindex="-1" id="errorModal"
         data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                    <h4 class="modal-title">Session Expired</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <h2 class="modal-title">Close this message to login again</h2>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="divError" class="alert alert-danger collapse">
        <a id="linkClose" href="#" class="close">&times;</a>
        <div id="divErrorText"></div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            //if (sessionStorage.getItem('accessToken') == null) {
            if (localStorage.getItem('accessToken') == null) {
                window.location.href = "@Url.Action("Login", "WebApiEmployee")";
            }

            $('#btnLogoff').on('click', function () {
                //sessionStorage.removeItem("accessToken");
                localStorage.removeItem("accessToken");
                window.location.href = "@Url.Action("Login", "WebApiEmployee")";
            })

            $('#linkClose').on('click', function () {
                $('#divError').hide('fade');
            });

            $('#errorModal').on('hidden.bs.modal', function () {
                window.location.href = "@Url.Action("Login", "WebApiEmployee")";
            });

            $('#btnLoadEmployees').on('click', function () {
                $.ajax({
                    url: 'https://localhost:44306/api/Employee',
                    method: 'GET',
                    headers: {
                        'Authorization': 'Bearer '
                            //+ sessionStorage.getItem("accessToken")
                            + localStorage.getItem("accessToken")
                    },
                    success: function (data) {
                        $('#divData').removeClass('d-none');
                        $('#tblBody').empty();

                        $.each(data, function (index, value) {
                            var row = $('<tr><td>' + value.id + '</td><td>'
                                + value.firstName + '</td><td>'
                                + value.lastName + '</td><td>'
                                + value.gender + '</td><td>'
                                + value.salary + '</td></tr>');
                            $('#tblData').append(row);
                        });
                    },
                    error: function (jqXHR) {
                        // If status code is 401, access token expired, so
                        // redirect the user to the login page
                        if (jqXHR.status == "401") {
                            $('#errorModal').modal('show');
                        }
                        else {
                            $('#divErrorText').text(jqXHR.responseText);
                            $('#divError').show('fade');
                        }
                    }
                });
            });
        });
    </script>
}