<div class="col-md-10 col-md-offset-1">
    <div class="well">
        <!--Table to capture username and password-->
        <table class="table table-bordered">
            <thead>
                <tr class="table-success">
                    <th colspan="2">
                        Existing User Login
                        <a href="@Url.Action("Register", "WebApiEmployee")" class="btn btn-success float-right">
                            Register
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Usename</td>
                    <td>
                        <input type="text" id="txtUsername" placeholder="Username" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td>
                        <input type="password" id="txtPassword" placeholder="Password" class="form-control" />
                    </td>
                </tr>
                <tr class="table-success">
                    <td colspan="2">
                        <input id="btnLogin" class="btn btn-success" type="button" value="Login" />
                    </td>
                </tr>
            </tbody>
        </table>
        <!--Bootstrap alert to display error message if the login fails-->
        <div id="divError" class="alert alert-danger collapse">
            <a id="linkClose" href="#" class="close">&times;</a>
            <div id="divErrorText"></div>
        </div>

        <table class="table table-bordered">
            <thead class="table-success">
                <tr class="success">
                    <th>
                        Social Logins
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="button" id="btnGoogleLogin"
                               value="Login with Google" class="btn btn-success" />
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            GetAccessToken();

            function GetAccessToken() {
                if (location.hash) {
                    if (location.hash.split('access_token=')) {
                        var accessToken = location.hash.split('access_token=')[1].split('&')[0];
                        if (accessToken) {
                            localStorage.setItem('accessToken', accessToken);
                        }
                    }
                    if (location.hash.split('user_name=')) {
                        var userName = location.hash.split('user_name=')[1].split('&')[0];
                        if (userName) {
                            localStorage.setItem('userName', userName);
                        }
                    }
                    window.location.href = '@Url.Action("Employees", "WebApiEmployee")';
                };
            }

            $('#linkClose').on('click', function () {
                $('#divError').hide('fade');
            });

            $('#btnLogin').on('click', function () {
                $.ajax({
                    // Post username, password & the grant type to /token
                    url: 'https://localhost:44306/token',
                    method: 'POST',
                    contentType: 'application/json',
                    data: {
                        username: $('#txtUsername').val(),
                        password: $('#txtPassword').val(),
                        grant_type: 'password'
                    },
                    // When the request completes successfully, save the
                    // access token in the browser session storage and
                    // redirect the user to list of employees.
                    success: function (response) {
                        //sessionStorage.setItem("accessToken", response.access_token);
                        localStorage.setItem('accessToken', response.access_token);
                        localStorage.setItem('userName', response.userName);
                        window.location.href = '@Url.Action("Employees", "WebApiEmployee")';
                    },
                    // Display errors if any in the Bootstrap alert <div>
                    error: function (jqXHR) {
                        $('#divErrorText').text(jqXHR.responseText);
                        $('#divError').show('fade');
                    }
                });
            });

            $('#btnGoogleLogin').on('click', function () {
                window.location.href = 'https://localhost:44306/api/Account/ExternalLogin?provider=Google&response_type=token&client_id=self&redirect_uri=https://localhost:44306/&state=VDR8_J8Waenc81WXn2loQ6Kl9Oa1O-K12wyWGl1Md8w1';
            });
        }); 
    </script>
}